@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 color-scheme: light;
 height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-bottom,
.leaflet-top {
 z-index: 0 !important;
}



